// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.posts-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

#carouselExampleIndicators.carousel.slide.pointer-event{
    width: 25%;
    padding: 2px;
}

.d-block.w-100{
    width: 100%;
    height: 330px!important;
    object-fit: cover;
}

.post{
    display: flex;
    justify-content: space-around;
}

.d-block.w-100-1{
    height: 100vh;
    width: 100%;
    image-rendering: -webkit-optimize-contrast;
}